.b-home{
    height: 820px;
}

.b-titleHome{
    font-size: 1.7rem;
}

.b-about__container img{
 width: 300px;
 height: 175px;
}

#introRes h2{
   font-size: 1.5rem;
 }
 .b-about__text{
     font-size: 1rem;
 }

 .b-form__input{
     width: 80%;
 }
 .b-form__msg{
     width: 70%;
 }
.b-form__send{
     width: 20%;
 }