@font-face{
    font-family: Ephesis;
    src: url(fuentes/Ephesis.ttf);
}

@font-face{
    font-family: Arch;
    src: url(fuentes/Arch.ttf);
}

@font-face{
    font-family: cinzel;
    src: url(fuentes/cinzel.ttf);
}

@font-face{
    font-family: lora;
    src: url(fuentes/lora.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.b-navbar{
    display: flex;
    justify-content: center;
    background-color: rgb(50, 66, 66);
    position: sticky;
    top: 0;
}

.b-navbar__ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.b-navbar__li{
    font-family: cinzel;
    font-size: 1.1rem;
    font-weight: bold;
}

.b-navbar__a { 
    text-decoration: none;
    color: azure;
    padding: 8px 25px;
    transition: all .5s ease;
}

.b-navbar ul li a:hover{
    background-color: white;
    color:black;
    box-shadow: white;
}



.b-home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.726);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.836);
}

#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url(/imagenes-myfirts/home.webp) no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}

.b-homeMain{
    display: flex;
    
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 10%;
}

.b-titleHome{
    font-family: cinzel;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}

.b-homeBtn{
    padding: 10px 35px;
    background-color: transparent;
    outline: none;
    transition: .6s ease;
    border: 1px solid rgba(255, 255, 255, 0.76);
    color: rgba(255, 255, 255, 0.76);
}

.b-homeBtn:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 15px rgb(255, 255, 255);
    font-weight: bold;
}



.b-about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}

.b-about__container{
    display: flex;
}

.b-about__img{
    width: 575px;
    height: 400px;
    opacity: .8;
}

.b-about__text{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}

.b-about__title{
    font-size: 2rem;
    margin-bottom: 20px;
}

/* secion portfolio*/
.b-portfolio{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.699);
}

.b-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    align-items: center;
    padding: 20px;
}

.b-gallery__img{
    width: 360px;
    height: 240px;
    margin: 10px;
}

/* seccion services*/
.b-services{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.b-row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.b-services__box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.726) 50%, white 50%);
    background-size: 100% 200%;
    transition: all .8s;
}

.b-services__box:hover{
    background-position: left bottom;
    color: rgb(255, 255, 255);
    border: none;
    box-shadow: 0 0 20px rgb(7, 0, 0);
}

/* contact*/
.b-contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.699);
    color: rgba(255, 255, 255, 0.76);
    padding: 20px;
}

.b-form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}

.b-form__input{
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
}

.b-form__msg{
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}

.b-form__send{
    padding: 10px;
    width: 10%;
    margin: 40px;
    border: none;
    outline: none;
}