.b-navbar ul{
    flex-wrap: wrap;
    justify-content: center;
}

.b-titleHome{
    font-size: 2.5rem;
}



.b-about__container{
    flex-direction: column;
    align-items: center;
}

.b-about__container img{
    width: 475px;
    height: 300px;
}

#introRes h2{
text-align: center;
padding: 10px;
}